.NotificationSection {
  position: relative;
  overflow-y: scroll;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.NotificationSection > .heading {
  background: #262626;
  font-weight: 700;
  font-size: large;
  letter-spacing: 1px;
  padding: 10px 0;
  border-bottom: 1px solid rgb(68, 68, 68);
}

.NotificationSection > .EventItem {
  background: #3d3b3b;
  /* background: #8f8ebf; */
  border-radius: 5px;
  /* color: black; */
}
