body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #262626;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Topbar {
  height: 3rem;
  width: 100%;
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #474073;
}

.mainSection_homePage {
  display: flex;
  flex-direction: row;
}

.Sidebar {
  background-color: #262626;
  width: 18rem;
  height: calc(100vh - 3rem);
  border-right: 1px solid #474073;
}

.MessageSection {
  background-color:blue;
  color: black;
  width: calc(100vw - 30rem);
  height: calc(100vh - 3rem);
}

.rightSection_homePage {
  display: flex;
  flex-direction: column;
}

.NotificationSection {
  background-color: #262626;
  width: 24rem;
  height: 26rem;
  border-bottom: 1px solid #474073;
  border-left: 1px solid #474073;
}

.MembersSection {
  background-color: #262626;
  width: 24rem;
  height: calc(100vh - 29rem);
  border-left: 1px solid #474073;
}

.heading {
  color: rgb(255, 171, 74);
}

/* scroll bar design begins */

.scrollable-container::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
.scrollable-container::-webkit-scrollbar-thumb {
  background-color: rgb(109, 109, 109);
  border-radius: 5px;
}
